.contract-info1{
    background-color: #b9f068;
    padding: .7rem .1rem;
}
.common-info{
    width: 420px;
    height: 320px;
}
.contract-info2{
    background-color: #1d741d;
    padding: .7rem 4rem;
    color: #fff;
}
.contract-info3{
    background-color: #6fd66b;
    padding: .7rem .1rem;
}
.contract-info4{
    background-color: seagreen;
    padding: .7rem .1rem;
}
.main-contract{
    display: flex;
    color: #fff;
    font-weight: 200;
}

.details{
    height: 220px; 
}
.btn:hover{
    color:gray;
}