.banner-container{
    background: url('https://i.ibb.co/nfPQG38/doctor-with-stethoscope-hands-hospital-background.jpg');
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
}
.blr{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.banner-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 7rem 1rem;
    color: #fff;
}
h4{
    font-weight: 700;
    color: coral;
    font-size: 30px
}
.banner-info p{
    font-size: 20px
}
.btn{
    padding: .7rem 1.4rem;
}
